<div id="container" style="margin-left:200px;margin-right:200px" data-index="<%= @index %>">
  <div><%= 'File Name:  ' + @file_name %></div>
  <hr>
  <pre style="max-width:1500px;overflow-x:auto">
    <%= raw @marked_content %>
  </pre>
  <hr>
  <div style="margin-top: 50px;display:flex;">
    <div style="min-width: 200px">
      <div>Keyboard Short Cut</div>
      <div>A: label as leaked</div>
      <div>S: label as unsure</div>
      <div>D: label as normal</div>
      <div>->: next sample</div>
      <div><-: prev sample</div>
    </div>
    <div>
      <textarea style="height:200px;width:800px;"></textarea>
    </div>
  </div>

</div>

<script>
  $(document).ready(function(){
    var index = parseInt($("#container").data("index"));
    $(document).keyup(function(event){
      if ($("textarea").is(":focus")) { return }
      var code = event.keyCode;
      if(code == 37){ // left arrow
        window.location.replace('/?index=' + (index - 1).toString());
      }else if(code == 39){ // right arrow
        window.location.replace('/?index=' + (index + 1).toString());
      }else if(code == 65){ // A
        $.post(
          "/",
          {
            index: index.toString(),
            tag: "leaked",
            criticals: $("textarea").val()
          },
          function(){
            $("#container").append('<div style="font-size:40px;color:red">Leaked!</div>');
            setTimeout(() => {
              window.location.replace('/?index=' + (index + 1).toString());
            }, 500);
          }
        ).fail(function() { $("#container").append('<div style="font-size:60px;color:red">failed!</div>') })
      }else if(code == 83){ // S
        $.post(
          "/",
          {
            index: index.toString(),
            tag: 'unsure',
            criticals: $("textarea").val()
          },
          function(){
            $("#container").append('<div style="font-size:40px;">Unsure</div>');
            setTimeout(() => {
              window.location.replace('/?index=' + (index + 1).toString());
            }, 500);
          }
        ).fail(function() { $("#container").append('<div style="font-size:60px;color:red">failed!</div>') })
      }else if (code == 68){ // D
        $.post(
          "/",
          {
            index: index.toString(),
            tag: 'normal'
          },
          function(){
            $("#container").append('<div style="font-size:40px;color:green">Normal</div>');
            setTimeout(() => {
              window.location.replace('/?index=' + (index + 1).toString());
            }, 500);
          }
        ).fail(function() { $("#container").append('<div style="font-size:60px;color:red">failed!</div>') })
      }
    })
  })
</script>